*{
    font-family: sans-serif;
}
input{
    font-size: 15px;
    font-weight: bold;
    color: #252829;
}
@media screen and (min-width: 650px){
    body{
        margin: 0;
        padding: 0;
    }
    main{
        width: 100%;
        height: 100vh;
        min-height: 100%;
        margin: unset;
        display: flex;
    
        .imgBox{
            width: 50%;
            height: 100%;
            min-height: 100%;
            overflow: hidden;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
    
            >img{
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
            }
        }
        .formContainer{
            width: 50%;
            min-width: 450px;
            background-color: white;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            #signInForm{
                display: flex;
                flex-direction: column;
                width: fit-content;
                min-width: 400px;
                height: fit-content;
                >button{
                    width: 100%;
                    height: fit-content;
                    padding: 10px;
                    border: none;
                    outline: none;
                    background-color: #141718;
                    color: white;
                    font-size: 15px;
                    font-weight: bolder;
                    border-radius: 5px;
                    margin-top: 20px;
                }
                >h2{
                    width: 100%;
                    height: fit-content;
                }
                >b{
                    font-weight: normal;
                    color: #6C7275;
                    margin-bottom: 10px;
    
                    >span{
                        color: #38CB89;
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                            text-underline-offset: 5px;
                            transition-duration: 1s;
                        }
                    }
                }
                >section{
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 20px;
                    >a{
                        text-decoration: none;
                        color: black;
                        font-weight: bolder;
                        font-size: 14px;
                    }
                }
                >input{
                    width: 100%;
                    
                    padding: 10px;
                    padding-left: 0;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #E8ECEF;
    
                    
                }
                >label{
                    position: relative;
                    border-bottom: 1px solid #E8ECEF;
                    &[for=check]{
                        border: none;
                        width: fit-content;
                        height: fit-content;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        >input{
                            width: fit-content;
                            outline: none;
                            border: none;
                            margin: 10px;
                            cursor: pointer;
                            
                        }
                    }
                    >input{
                        width: 90%;
    
                        padding: 10px;
                        padding-left: 0;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        outline: none;
                        
        
                        
                    }
                    &[for="password"]{
                        position: relative;
                        display: flex;
                        align-items: center;
                        
                    }
                    >svg{
                        position: absolute;
                        right: 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    #signInForm label{
        position: relative;
        border-bottom: 1px solid #E8ECEF;
        &[for=check]{
            border: none;
            width: fit-content;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            >input{
                width: fit-content;
                outline: none;
                border: none;
                margin: 10px;
                margin-left: 0;
                cursor: pointer;
    
                
            }
        }
        >input{
            width: 25vw;
    
            padding: 10px;
            padding-left: 0;
            margin-top: 5px;
            margin-bottom: 5px;
            outline: none;
            border: none;
            
    
            
        }
        &[for="password"]{
            position: relative;
            display: flex;
            align-items: center;
            
        }
        >svg{
            position: absolute;
            right: 0;
            cursor: pointer;
        }
    }
}
@media screen and (max-width: 650px){
    body{
        margin: 0;
        padding: 0;
    }
    main{
        width: 100vw;
        height: 100vh;
        min-height: 100%;
        
        margin: unset;
        display: flex;
        flex-direction: column;
    
        .imgBox{
            width: 100%;
            min-width: 450px;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 50%;
            min-height: 45%;
            overflow: hidden;
            margin: 0;
            padding: 0;
            
    
            >img{
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
            }
        }
        .formContainer{
            width: 100%;

           
            background-color: white;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute ;
            bottom: 10px ;
            left: 0;
            overflow: hidden;
            #signInForm{
                display: flex;
                flex-direction: column;
                width: fit-content;
                min-width: 400px;               
                height: fit-content;
                >button{
                    width: 100%;
                    height: fit-content;
                    padding: 10px;
                    border: none;
                    outline: none;
                    background-color: #141718;
                    color: white;
                    font-size: 15px;
                    font-weight: bolder;
                    border-radius: 5px;
                    margin-top: 20px;
                }
                >h2{
                    width: 100%;
                    height: fit-content;
                }
                >b{
                    font-weight: normal;
                    color: #6C7275;
                    margin-bottom: 10px;
    
                    >span{
                        color: #38CB89;
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                            text-underline-offset: 5px;
                            transition-duration: 1s;
                        }
                    }
                }
                >section{
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 20px;
                    >a{
                        text-decoration: none;
                        color: black;
                        font-weight: bolder;
                        font-size: 14px;
                    }
                }
                >input{
                    width: 100%;
                    
                    padding: 10px;
                    padding-left: 0;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #E8ECEF;
    
                    
                }
                >label{
                    position: relative;
                    border-bottom: 1px solid #E8ECEF;
                    &[for=check]{
                        border: none;
                        width: fit-content;
                        height: fit-content;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        >input{
                            width: fit-content;
                            outline: none;
                            border: none;
                            margin: 10px;
                            cursor: pointer;
                            
                        }
                    }
                    >input{
                        width: 90%;
    
                        padding: 10px;
                        padding-left: 0;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        outline: none;
                        
        
                        
                    }
                    &[for="password"]{
                        position: relative;
                        display: flex;
                        align-items: center;
                        
                    }
                    >svg{
                        position: absolute;
                        right: 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    #signInForm label{
        position: relative;
        border-bottom: 1px solid #E8ECEF;
        &[for=check]{
            border: none;
            width: fit-content;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            >input{
                width: fit-content;
                outline: none;
                border: none;
                margin: 10px;
                margin-left: 0;
                cursor: pointer;
    
                
            }
        }
        >input{
            width: 25vw;
    
            padding: 10px;
            padding-left: 0;
            margin-top: 5px;
            margin-bottom: 5px;
            outline: none;
            border: none;
            
    
            
        }
        &[for="password"]{
            position: relative;
            display: flex;
            align-items: center;
            
        }
        >svg{
            position: absolute;
            right: 0;
            cursor: pointer;
        }
    }
}

button{
    cursor: pointer;

    &:active{
        transform: scale(0.99);
        
    }
}