body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}
.csr-p{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
i{
    font-style: normal;
    &.social{
        cursor: pointer;
    }
}
hr{
    width: 100%;
}
section, article,div, main{
    overflow: hidden;
}
.btn-no-bg-arr-undl{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff00;
    border: none;
    outline: none;
    color: black;
    font-size: 15px;
    cursor: pointer;
    >span{
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &:hover{
        border-bottom: 1px solid #000000;
    }
    
}
.img-bg-box{
    width: 100%;
    height: 100%;

    z-index: -1;

    >img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.cart{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    #cart-item-count{
        margin-left: 5px;
        width: 40px;
        height: 40px;
        font-size: medium;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        zoom: 60%;
        border-radius: 50%;
        background-color: #141718;
        color: white;
    }
}

@keyframes draw-menu {
    from{
        left: -300px;
    }
    to{
        left: 0;
    }
}
@keyframes draw-menu-back {
    from{
        left: 0;
    }
    to{
        left: -300px;
    }
}
